<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="mb-3 col">
      <label class="form-label">E-mail</label>
      <input type="text" formControlName="email" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors?.['required']">E-mail обязателен</div>
      </div>
    </div>
    <div class="mb-3 col">
      <label class="form-label">Роль</label>
      <input type="text" formControlName="role" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f['role'].errors }"/>
      <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
        <div *ngIf="f['role'].errors?.['required']">Роль обязательна</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col">
      <label class="form-label">Имя пользователя</label>
      <input type="text" formControlName="username" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"/>
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors?.['required']">Имя пользователя обязательно</div>
      </div>
    </div>
    <div class="mb-3 col">
      <label class="form-label">
        Пароль
        <em *ngIf="username">(Оставьте поле пустым, чтобы сохранить старый пароль)</em>
      </label>
      <input type="password" formControlName="password" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors?.['required']">Пароль обязателен</div>
        <div *ngIf="f['password'].errors?.['minlength']">Минимум 6 символов должно быть в пароле</div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <button [disabled]="submitting" class="btn btn-primary">
      <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
      Сохранить
    </button>
    <a routerLink="/users" class="btn btn-link">Отмена</a>
  </div>
</form>
<div *ngIf="loading" class="text-center m-5">
  <span class="spinner-border spinner-border-lg align-center"></span>
</div>
