<h1>Пользователи</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Добавить пользователя</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Имя пользователя</th>
            <th style="width: 30%">Роль</th>
            <th style="width: 30%">E-mail</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.role}}</td>
            <td>{{user.email}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.username}}" class="btn btn-sm btn-primary me-1">Редактировать</a>
                <button (click)="deleteUser(user.username)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="isDeleting[user.id]">
                    <span *ngIf="isDeleting[user.id]" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!isDeleting[user.id]">Удалить</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
