<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="mb-3 col">
      <label class="form-label">Фамилия</label>
      <input type="text" formControlName="surname" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f['surname'].errors }"/>
      <div *ngIf="submitted && f['surname'].errors" class="invalid-feedback">
        <div *ngIf="f['surname'].errors?.['required']">Фамилия обязательна</div>
      </div>
    </div>
    <div class="mb-3 col">
      <label class="form-label">Имя</label>
      <input type="text" formControlName="name" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"/>
      <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
        <div *ngIf="f['name'].errors?.['required']">Имя обязательно</div>
      </div>
    </div>
    <div class="mb-3 col">
      <label class="form-label">Отчество</label>
      <input type="text" formControlName="patronymic" class="form-control"/>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col">
      <label class="form-label">Дата рождения</label>
      <datepicker [dateStruct]="birthDate" (savedDate)="birthDate = $event">Загрузка...</datepicker>
    </div>
    <div class="mb-3 col">
      <label class="form-label">Номер телефона</label>
      <input type="text" formControlName="phoneNumber" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"/>
      <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
        <div *ngIf="f['phoneNumber'].errors?.['required']">Номер телефона обязателен</div>
      </div>
    </div>
    <div class="mb-3 col">
      <label class="form-label">Пол</label>
      <select formControlName="sex" class="form-select">
        <option value="MALE">Мужской</option>
        <option value="FEMALE">Женский</option>
      </select>
      <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
        <div *ngIf="f['role'].errors?.['required']">Пол обязателен</div>
      </div>
    </div>
  </div>
  <p>Спортсмены</p>

  <table class="table table-striped">
    <colgroup>
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 10%;">
    </colgroup>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Фото</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Амплуа</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of form.value.playerList | keyvalue : compareFn; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img
          [src]="player.value.photo"
          class="me-2"
          style="width: 40px"
          alt="Фото спортсмена"
        />
      </td>
      <td>{{ player.value.surname }}</td>
      <td>{{ player.value.name}}</td>
      <td>{{ player.value.position
      && player.value.position.name !== undefined
      && player.value.position.name ? player.value.position.name : ''}}</td>
      <td style="white-space: nowrap">
        <a routerLink="../../../statFieldPlayers/edit/game/{{id}}/player/{{player.value.id}}"
           class="btn btn-sm btn-primary me-1">Статистика</a>
        <button type="button" (click)="detach(player.value)" class="btn btn-sm btn-danger btn-delete-game">
          <span>Открепить</span>
        </button>
      </td>
    </tr>
    <button type="button" class="btn btn-sm btn-primary me-1" (click)="openPlayerDialog()">Прикрепить спортсменов
    </button>
    </tbody>
  </table>
  <div class="mb-3">
    <a routerLink="../contracts/byParent/{{id}}" class="btn btn-sm btn-primary me-1">Договора</a>
<!--    <a routerLink="../players/byParent/{{id}}" class="btn btn-sm btn-primary me-1">Спортсмены</a>-->
  </div>
  <div class="mb-3">
    <button [disabled]="submitting" class="btn btn-primary">
      <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
      Сохранить
    </button>
    <a routerLink="/parents" class="btn btn-link">Отмена</a>
  </div>
</form>
<div *ngIf="loading" class="text-center m-5">
  <span class="spinner-border spinner-border-lg align-center"></span>
</div>
