<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="mb-3 col">
      <label class="form-label">Клуб соперника</label>
      <select formControlName="club" class="form-select"
              [ngClass]="{ 'is-invalid': submitted && f['club'].errors }">
        <option *ngFor="let club of clubs"
                [ngValue]="club">{{club.name}}</option>
      </select>
      <div *ngIf="submitted && f['club'].errors" class="invalid-feedback">
        <div *ngIf="f['club'].errors?.['required']">Клуб соперника обязателен</div>
      </div>
    </div>
    <div class="mb-3 col">
      <label class="form-label">Наименование команды соперника</label>
      <input type="text" formControlName="name" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"/>
      <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
        <div *ngIf="f['name'].errors?.['required']">Наименование команды соперника обязательно</div>
      </div>
    </div>
    <div class="mb-3 col">
      <label class="form-label">Год команды соперника</label>
      <input type="number" formControlName="teamYear" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f['teamYear'].errors }"/>
      <div *ngIf="submitted && f['teamYear'].errors" class="invalid-feedback">
        <div *ngIf="f['teamYear'].errors?.['required']">Год команды соперника обязательно</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col">
      <label class="form-label">Контакты</label>
      <input type="text" formControlName="contacts" class="form-control"/>
    </div>
  </div>
  <div class="mb-3">
    <button [disabled]="submitting" class="btn btn-primary">
      <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
      Сохранить
    </button>
    <a routerLink="/clubs" class="btn btn-link">Отмена</a>
  </div>
</form>
<div *ngIf="loading" class="text-center m-5">
  <span class="spinner-border spinner-border-lg align-center"></span>
</div>
