<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Домашняя</a>
    <a class="nav-item nav-link" routerLink="/players" routerLinkActive="active">Спортсмены</a>
    <a class="nav-item nav-link" routerLink="/contracts" routerLinkActive="active">Договор</a>
    <a class="nav-item nav-link" routerLink="/parents" routerLinkActive="active">Родители</a>
    <a class="nav-item nav-link" routerLink="/positions" routerLinkActive="active">Амплуа</a>
    <a class="nav-item nav-link" routerLink="/staff" routerLinkActive="active">Тренерский состав</a>
    <a class="nav-item nav-link" routerLink="/teams" routerLinkActive="active">Команда</a>
    <a class="nav-item nav-link" routerLink="/years" routerLinkActive="active">Год команды</a>
    <a class="nav-item nav-link" routerLink="/gameFormats" routerLinkActive="active">Форматы игры</a>
    <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Пользователи</a>
    <button class="btn btn-link nav-item nav-link" (click)="logout()">Выход</button>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
