<h1>Год команды</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Добавить год команды</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th style="width: 30%">Год команды</th>
    <th style="width: 30%">Название команды</th>
    <th style="width: 30%">Примечание</th>
    <th style="width: 10%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let teamYear of teamYears">
    <td>{{teamYear.year}}</td>
    <td>{{teamYear.teamName}}</td>
    <td>{{teamYear.note}}</td>
    <td style="white-space: nowrap">
      <a routerLink="edit/{{teamYear.id}}" class="btn btn-sm btn-primary me-1">Редактировать</a>
      <button (click)="delete(teamYear.id)" class="btn btn-sm btn-danger btn-delete-teamYear"
              [disabled]="isDeleting[teamYear.id]">
        <span *ngIf="isDeleting[teamYear.id]" class="spinner-border spinner-border-sm"></span>
        <span *ngIf="!isDeleting[teamYear.id]">Удалить</span>
      </button>
    </td>
  </tr>
  <tr *ngIf="!teamYears">
    <td colspan="4" class="text-center">
      <span class="spinner-border spinner-border-lg align-center"></span>
    </td>
  </tr>
  </tbody>
</table>
