<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSave()">
  <div class="row">
    <div class="mb-3 col">
      <label class="form-label">Турнир</label>
      <select formControlName="tournament" class="form-select" [compareWith]="ObjectUtility.objectIdComparer"
              [ngClass]="{ 'is-invalid': submitted && f['tournament'].errors }">
        <option *ngFor="let tournament of tournaments"
                [ngValue]="tournament">{{tournament.name}}</option>
      </select>
      <div *ngIf="submitted && f['tournament'].errors" class="invalid-feedback">
        <div *ngIf="f['tournament'].errors?.['required']">Турнир обязателен</div>
      </div>
    </div>
    <div class="mb-3 col">
      <label class="form-label">Дата игры</label>
      <datepicker [dateStruct]="gameDate" (savedDate)="gameDate = $event">Загрузка...</datepicker>
    </div>
    <div class="mb-3 col">
      <label class="form-label">Время игры (начало)</label>
      <input type="text" formControlName="time" class="form-control"/>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col">
      <label class="form-label">Сезон</label>
      <select formControlName="season" class="form-select" [compareWith]="ObjectUtility.objectIdComparer"
              [ngClass]="{ 'is-invalid': submitted && f['season'].errors }">
        <option *ngFor="let season of seasons"
                [ngValue]="season">{{season.season + "-" + (season.season + 1)}}</option>
      </select>
      <div *ngIf="submitted && f['season'].errors" class="invalid-feedback">
        <div *ngIf="f['season'].errors?.['required']">Сезон обязателен</div>
      </div>
    </div>
    <div class="mb-3 col">
      <label class="form-label">Адрес арены</label>
      <input type="text" formControlName="arenaAddress" class="form-control"/>
    </div>
    <div class="mb-3 col">
      <label class="form-label">Год команды</label>
      <select formControlName="teamYear" class="form-select" [compareWith]="ObjectUtility.objectIdComparer">
        <option *ngFor="let teamYear of teamYears"
                [ngValue]="teamYear">{{teamYear.teamName}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col">
      <label class="form-label">Команда Соперника</label>
      <select formControlName="clubTeam" class="form-select" [compareWith]="ObjectUtility.objectIdComparer">
        <option *ngFor="let clubTeam of clubTeams"
                [ngValue]="clubTeam">{{clubTeam.club.name + " " + clubTeam.name}}</option>
      </select>
    </div>
  </div>

  <p>Спортсмены</p>

  <table class="table table-striped">
    <colgroup>
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 10%;">
    </colgroup>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Фото</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Амплуа</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of form.value.players | keyvalue : compareFn; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img
          [src]="player.value.photo"
          class="me-2"
          style="width: 40px"
          alt="Фото спортсмена"
        />
      </td>
      <td>{{ player.value.surname }}</td>
      <td>{{ player.value.name}}</td>
      <td>{{ player.value.position
      && player.value.position.name !== undefined
      && player.value.position.name ? player.value.position.name : ''}}</td>
      <td style="white-space: nowrap">
        <a routerLink="../../../statFieldPlayers/edit/game/{{id}}/player/{{player.value.id}}"
           class="btn btn-sm btn-primary me-1">Статистика</a>
        <button type="button" (click)="detach(player.value)" class="btn btn-sm btn-danger btn-delete-game">
          <span>Открепить</span>
        </button>
      </td>
    </tr>
    <button type="button" class="btn btn-sm btn-primary me-1" (click)="openPlayerDialog()">Прикрепить спортсменов
    </button>
    </tbody>
  </table>
  <div class="mb-3">
    <button [disabled]="submitting" class="btn btn-primary" (click)="onSave()">
      <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
      Сохранить
    </button>
    <a routerLink="/games" class="btn btn-link">Отмена</a>
  </div>
</form>
<div *ngIf="loading" class="text-center m-5">
  <span class="spinner-border spinner-border-lg align-center"></span>
</div>
